<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>
<body>

<div class="topnav">
    <a class="active" href="../src/profile.html">Profile</a>
    <a href="../src/profile.html">Courses</a>
    <a href="../src/profile.html">Joining Requests</a>
</div>

<div class="wrapper">
    <div class="user-image">
        <img class="user_profile_img" src="../img/profile-image.jpg" alt="Profile Image">
    </div>
    <form class="user-profile-form">
        <h3>First name:</h3>
        <input type="text" class="user_profile__input" id="first-name" value="Nazar">
        <h3>Second name:</h3>
        <input type="text" class="user_profile__input" id="second-name" value="Furdychka">
        <h3>Username:</h3>
        <input type="text" class="user_profile__input" id="login" value="nazar_furdychka">
        <h3>Password:</h3>
        <input type="password" class="user_profile__input" id="password" value="">
        <h3>Confirm password:</h3>
        <input type="password" class="user_profile__input" id="repeated-password" value="">
        <div class="button-wrapper">
            <button type="submit" class="user-profile-button">Save Changes</button>
            <button type="reset" class="user-profile-button">Reset Changes</button>
            <button type="button" class="user-profile-button">Delete Account</button>
        </div>
    </form>
</div>
</body>
</html>