<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="../styles/registration.css">
</head>

<body>
<div class="wrapper">
    <form class="register_form">
        <div class="form_header">Registration</div>
        <div class="row_input">
            <div class="form_input">
                <h3>Enter first name:</h3>
                <input class="field_input" type="text" placeholder="First name" required>
            </div>
            <div class="form_input">
                <h3>Enter last name:</h3>
                <input class="field_input" type="text" placeholder="Last name" required>
            </div>
        </div>
        <div class="row_input">
            <div class="form_input">
                <h3>Enter username:</h3>
                <input class="field_input" type="text" placeholder="Username" required>
            </div>
            <div class="selector">
                <h3>Choose a user type:</h3>
                <div class="custom-select">
                    <select class="user-type">
                        <option class="selection-option" value="student">Student</option>
                        <option value="lecturer">Lecturer</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row_input">
            <div class="form_input">
                <h3>Enter password:</h3>
                <input class="field_input" type="text" placeholder="Password">
            </div>
            <div class="form_input">
                <h3>Confirm password:</h3>
                <input class="field_input" type="text" placeholder="Confirm password">
            </div>
        </div>
        <button class="register_button" type="submit">Sign up</button>
        <div class="form_footer">Already registered? <a href="login.html">Log in!</a></div>
    </form>
</div>
</body>
</html>